.sidebar {
    border-right: 1px solid var(--twitter-background);
    padding: 20px;
    flex: 0.2;
    min-width: 230px;
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    height: 100vh;
    max-height: 100vh;
}

.sidebar__logo {
    color: var(--twitter-color);
    font-size: 30px !important;
    /* align-self: center; */
    margin-bottom: 20px;
    margin-left: 20px;
}

.sidebar__tweet {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}